@{
    ViewData["Title"] = "Satıcı Yönetimi";
}

<h1>Satıcı Yönetimi</h1>

<p>Buradan satıcılarla ilgili işlemleri gerçekleştirebilirsiniz.</p>

<a href="@Url.Action("GetAllSellers")" class="btn btn-primary">Tüm Satıcıları Görüntüle</a>
<a href="@Url.Action("PendingSellerRequest")" class="btn btn-secondary">Bekleyen Başvuruları Görüntüle</a>
